* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/bakground_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    width: 100vw;
}

/* Header */
.navbar {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlogo {
    color: white;
    margin-left: 50px;
    cursor: pointer;
    font-size: 1.3vmax;

}

.nav-anchors {
    height: 70px;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
    margin-top: 11px;

}

#anchors {
    text-decoration: none;
    color: white;
    font-size: 1.2vmax;
}

/* Main */

main {
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2%;
}

.hero-section {
    height: 40%;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* margin-top: 14%; */
}

.hero {
    color: white;
    font-size: 3.5vmax;
    font-weight: bolder;
    text-align: center;
}

.hero-msg {
    max-height: 50%;
    text-align: center;
    font-size: 2vmax;
    color: white;
    max-width: 80%;
    margin-left: 10%;
    margin-top: 2%;
}

/* Footer */

footer {
    height: 45%;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* background-color: wheat; */
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}


.button-box {

    /* background-color: aqua;   */
    margin-top: 60px;
    height: 70%;
    width: 60%;
    display: flex;
    gap: 40px;
    text-align: center;
    /* align-items: center; */
    justify-content: center;


}


.button {
    color: white;
    height: 40px;
    width: 300px;
    font-size: 20px;
    /* text-align: center; */
    padding-top: 11px;
    border: 2px solid #009688;
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}

span {
    height: 100%;
    width: 0%;
    border-radius: 25px;
    background-color: #009688;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition-duration: 0.5s;
}

.button:hover span {
    width: 100%;
}

.button:hover {
    border: none;
}

/* foot panel */

.foot-panel {
    font-size: 2vmax;
    margin-top: 140px;
    height: 10%;
    width: 50%;
    text-align: center;
    color: white;
}


/* -------- */

@media (max-width:520px) {
    body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/bakground_imagemini.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100;
    }

    .button-box {
        flex-direction: column;
    }
}