/* Rock paper scissor game.. */
* {
    padding: 0;
    margin: 0;
}

.nav {
    height: 10vh;
    width: 100%;
    background-color: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav h1 {
    color: white;
}

.body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.body .img {
    height: 8vmax;
    width: 8vmax;
    border-radius: 50px;
    cursor: pointer;
}

.img:hover {
    border: 2px solid black;
}

#rock {
    background-image: url(images/handrock.png);
    background-size: cover;
    background-color: pink;
}

#paper {
    background-image: url(images/hand-paper.png);
    background-size: cover;
    border-radius: 40px;
    background-color: aqua;
}

#scissor {
    background-image: url(images/scissors.png);
    background-size: cover;
    background-color: greenyellow;
}

.body .options {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.body .score-board {
    height: 15%;
    width: 18%;
    display: flex;
    flex-direction: column;
}

.score-board .sec1 {
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    gap: 2vw;
}

.score-board h2 {
    font-size: 3vmax;
}

.score-board h3 {
    font-size: 2vmax;
}

.score-board .sec2 {
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    gap: 1vw;
    align-items: center;
}

.body .instruction {
    height: 50px;
    width: auto;
    padding: 0 10px 0 10px;
    background-color: rgb(15, 48, 88);
    font-size: 2vmax;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.body .computerChoice {
    height: 40px;
    width: auto;
    display: flex;
    align-items: center;
    font-size: 1.5vmax;
}